#header{
    text-align: center;
    font-size:1.5rem;
    font-weight:bold;
}

.user_box{
    border-radius: 10px;
    width:95%;
    margin:auto;
    background-color:#E5E5E5;
}

.background{
    background-color:grey;
}



.col p{
    font-size:1rem;
}

.rounded-circle{
    border:solid;
    border-width:4px;
    border-color:#00FFD1;
}

