{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% load static %}
{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div id="description">
    <p>대학교에서</p>
    <p>새로운 친구를 만나며</p>
    <p>좋아하는 언어를 배워봐요!</p>
</div>
<div id="form_container">
    <form>
        <input id="submit_btn" type="submit" value="로그인">
    </form>
    <a href="#"  id="signup_btn">회원가입</a>
</div>
{% endblock %}
