<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>exKUse me</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" id="logo" href="#">exkuse me</a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>